.button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Main;
    font-weight: 800;
    color: var(--color-bright);
    font-size: var(--size-sm);
    border-radius: var(--size-sm);
    padding: var(--size-xs) var(--size-xl);
    background-color: var(--color-bright);
    text-align: center;
    max-width: max-content;
    width: 100%;
    transition: all 0.3s ease-in-out;
    border: none;
    outline: none;
    cursor: pointer;

    &__text {
        color: var(--color-dark);
        font-weight: 600;
    }

    &:hover {
        background-color: var(--color-dark);

        & .button__text {
            color: var(--color-bright);
        }
    }

    &--color {
        color: var(--color-bright);
        background: var(--color-dark);
        border: 4px solid var(--color-dark);

        &__text {
            color: var(--color-bright);
        }

        * {
            color: var(--color-bright);
        }

        &:hover {
            background-color: var(--color-bright);

            & .button__text {
                background: none;
                background-clip: initial;
                -webkit-background-clip: initial;
                -webkit-text-fill-color: initial;
                text-fill-color: initial;

                color: var(--color-dark);
            }
        }
    }
}