.header {
    padding: var(--size-xs);
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 3;
    background-color: var(--color-bright);
    border-radius: 0 0 var(--size-xxs) var(--size-xxs);

    &__menu {
        // margin-left: auto;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        gap: var(--size-sm);
    }
}
