.location {
    &__headline {
        margin-bottom: var(--size-sm);
    }

    &__map {
        height: calc((1vh + 1vw) * 25);
        width: 100%;
         border-radius: var(--size-lg);;
        overflow: hidden;
        z-index: 3;
        background: var(--gradient-main);
        position: relative;
    }

    &__description {
        text-align: center;
        color: var(--color-bright);
        font-size: var(--size-sm);
        padding: var(--size-xxxs);
        font-weight: 700;

    }
}

.map {
    width: 100%;
    height: calc(100% - var(--size-xl));
     border-radius: var(--size-lg);;
    overflow: hidden;
}