.organizer {
    &__headline {
        margin-bottom: var(--size-sm);
    }

    &__grid {
        display: flex;
        // grid-template-columns: repeat(12, 1fr);
        gap: var(--size-xxs);
        flex-wrap: wrap;
        justify-content: space-around;
    }

    &__item {
        grid-column: span 4;
        background: url(./images/background.png) center/cover no-repeat;
        border-radius: var(--size-sm);
        padding: var(--size-sm) var(--size-sm);
        flex-basis: calc(32% - var(--size-xxs) * 2 / 3);
        max-width: calc(32% - var(--size-xxs) * 2 / 3);
        display: flex;
        flex-direction: column;
        gap: calc(var(--size-xxxs) * 0.8);

        * {
            color: var(--color-bright);
        }

        &--center {
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &--full {
            flex-basis: 100%;
            max-width: 100%;
        }

        &--posible {
            flex-basis: calc(50% - var(--size-xxs) * 1 / 2);
            max-width: calc(50% - var(--size-xxs) * 1 / 2);

            @include xl {
                flex-basis: calc(66% - var(--size-xxs) * 1 / 2);
                max-width: calc(66% - var(--size-xxs) * 1 / 2);
            }
        }

        &--mid {
            flex-basis: calc(50% - var(--size-xxs) * 1 / 2);
            max-width: calc(50% - var(--size-xxs) * 1 / 2);

            @include xl {
                flex-basis: calc(32% - var(--size-xxs) * 2 / 3);
                max-width: calc(32% - var(--size-xxs) * 2 / 3);
            }
        }

        &--bright {
            border: 4px solid var(--color-main);
            background: var(--color-bright) !important;

            .organizer__item-text--color {
                color: var(--color-main);
            }

            * {
                color: var(--color-grey);
            }
        }
    }

    &__star {
        width: var(--size-xxl);
    }

    &__list {
        margin-left: var(--size-xxs);
    }

    &__item-text {
        font-size: var(--size-sm);
        font-weight: 700;
        line-height: 1.1;

        @include lg {
            font-size: calc(var(--size-xs) * 0.8);
        }

        &--big {
            font-size: var(--size-md);

            @include lg {
                font-size: calc(var(--size-sm) * 0.8);
            }
        }

        &--mini {
            font-size: var(--size-xxs);

            @include lg {
                font-size: calc(var(--size-xxxs) * 0.8);
            }
        }
    }

    &__swiper {
        .organizer__item {
            grid-column: none;
            background: url(./images/background.png) center/cover no-repeat;
            border-radius: var(--size-sm);
            padding: var(--size-sm) var(--size-sm);
            flex-basis: auto;
            max-width: none;
            display: block !important;
            height: 100%;
        }
    }
}
