.organizer {
    &__grid {
        display: flex;
        // grid-template-columns: repeat(12, 1fr);
        gap: var(--size-xxs);
        flex-wrap: wrap;
        justify-content: space-around;

    }

    &__item {
        grid-column: span 4;
        background: url(./images/background.png) center/cover no-repeat;
        border-radius: var(--size-sm);
        padding: var(--size-sm) var(--size-sm);
        flex-basis: calc(32% - var(--size-xxs) * 2 / 3);
        max-width: calc(32% - var(--size-xxs) * 2 / 3);
        display: flex;
        flex-direction: column;
        gap: calc(var(--size-xxxs) * .8);

        * {
            color: var(--color-bright);
        }

        &--center {
            justify-content: center;
            align-items: center;
        }

        &--full {
            flex-basis: 100%;
            max-width: 100%;
        }

        &--posible {
            flex-basis: calc(50% - var(--size-xxs) * 1 / 2);
            max-width: calc(50% - var(--size-xxs) * 1 / 2);

            @include xl {
                flex-basis: calc(66% - var(--size-xxs) * 1 / 2);
                max-width: calc(66% - var(--size-xxs) * 1 / 2);
            }

        }

        &--mid {
            flex-basis: calc(50% - var(--size-xxs) * 1 / 2);
            max-width: calc(50% - var(--size-xxs) * 1 / 2);

            @include xl {
                flex-basis: calc(32% - var(--size-xxs) * 2 / 3);
                max-width: calc(32% - var(--size-xxs) * 2 / 3);
            }
        }

        &--bright {
            border: 4px solid var(--color-main);
            background: var(--color-bright);

            .organizer__item-text--color {
                color: var(--color-main);
            }

            * {
                color: var(--color-grey);
            }
        }
    }

    &__star {
        width: var(--size-xxl);
    }

    &__list {
        margin-left: var(--size-xxs);

    }

    &__item-text {
        font-size: calc(var(--size-xs) * .8);
        font-weight: 700;
        line-height: 1.1;

        &--big {
            font-size: calc(var(--size-sm) * .8);
        }

        &--mini {
            font-size: calc(var(--size-xxxs) * .8);
        }
    }
}