.organizer {
    &__headline {
        margin-bottom: var(--size-sm);
    }

    &__grid {
        // display: flex;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--size-xxs);
        // flex-wrap: wrap;
        // justify-content: space-around;
    }

    &__item {
        grid-column: span 4;
        background: var(--gradient-second);
        border-radius: var(--size-md);
        padding: var(--size-sm) var(--size-sm);
        // flex-basis: calc(32% - var(--size-xxs) * 2 / 3);
        // max-width: calc(32% - var(--size-xxs) * 2 / 3);
        display: flex;
        flex-direction: column;
        gap: calc(var(--size-xxxs) * 0.8);

        * {
            color: var(--color-bright);
        }

        &--2-1 {
            grid-column: span 6;

            @include xl {
                grid-column: span 3;
            }
        }

        &--2-2 {
            grid-column: span 6;

            @include xl {
                grid-column: span 9;
            }
        }

        &--3-1 {
            grid-column: span 6;

            @include xl {
                grid-column: span 7;
            }
        }

        &--3-2 {
            grid-column: span 6;

            @include xl {
                grid-column: span 5;
            }
        }

        &--center {
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        &--full {
            grid-column: span 12;
        }

        &--bright {
            border: 4px solid var(--color-dark);
            background: var(--color-bright) !important;

            .organizer__item-text--color {
                color: var(--color-dark);
            }

            * {
                color: var(--color-dark);
            }
        }
    }

    &__star {
        width: var(--size-xxl);
    }

    &__list {
        margin-left: var(--size-xxs);
    }

    &__item-text {
        font-size: var(--size-sm);
        font-weight: 700;
        line-height: 1.2;

        @include lg {
            font-size: calc(var(--size-xs) * 0.8);
        }

        &--big {
            font-size: var(--size-md);

            @include lg {
                font-size: calc(var(--size-sm) * 0.8);
            }
        }

        &--mini {
            font-size: var(--size-xxs);

            @include lg {
                font-size: calc(var(--size-xxxs) * 0.8);
            }
        }
    }

    &__swiper {
        .organizer__item {
            grid-column: none;
            background: var(--gradient-second);
            border-radius: var(--size-lg);
            padding: var(--size-sm) var(--size-lg);
            flex-basis: auto;
            max-width: none;
            display: block !important;
            height: 100%;

            position: relative;

            .navigation__nav-prev {
                position: absolute;
                left: 2%;
                top: 50%;
                transform: translateY(-50%);
            }

            .navigation__nav-next {
                position: absolute;
                right: 2%;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
