.schedule {
    position: relative;

    overflow: hidden;

    position: relative;
    z-index: 2;

    &__content {
        position: relative;
        height: 100%;
        width: 100%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: 100% 100%;
            pointer-events: none;
            z-index: 0;
        }
    }

    &__dot {
        position: absolute;
        left: 0;
        top: 50%;
        width: var(--size-xxxs);
        height: var(--size-xxxs);
        background-color: var(--color-bright);
        border-radius: 50%;
        box-shadow: 0 0 0 4px rgba(var(--color-bright-rgb), 0.2);
    }

    &__text {
        font-size: var(--size-xs);
        color: var(--color-text);
        line-height: 1.6;
        font-weight: 300;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: var(--size-sm);

        @include xxl {
            flex-direction: row;
        }
    }

    &__card {

        // border-radius: var(--size-lg);
        padding: var(--size-lg) 0;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
        position: relative;
        gap: var(--size-xs);
        overflow: hidden;
        color: var(--color-dark);

        &--image {
            padding-right: 40%;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                width: 400px;
                height: 220px;
                left: auto;
                right: 0;
                transform: translateX(50px) translateY(-50%);
                background: url(./images/item.svg) right/contain no-repeat;
            }

            @include lg {
                padding-right: 30%;

                &::after {
                    aspect-ratio: 1;
                    height: 330px;
                    transform: translateY(-50%);
                    background: url(./images/item.svg) right / contain no-repeat;
                }
            }

            @include xxl {
                padding-right: 20%;
            }
        }

        @include lg {
            flex-basis: 50%;
        }
    }

    &__card-arrow * {
        font-size: var(--size-lg);
    }

    &__card-navigation {
        display: flex;
        gap: var(--size-xxl);
        justify-content: center;
        margin-top: var(--size-sm);
    }

    &__card-swiper {
        display: block !important;
        flex: none !important;
    }

    &__table {
        // background: var(--gradient-main);
        border-radius: var(--size-lg);
        // padding: 0 var(--size-sm);
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__row {
        display: flex;

        &:not(:nth-last-child(1)) {
            border-bottom: 1px solid var(--color-bright);
        }

        &--swiper {
            display: block !important;
            flex: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none !important;

            // background: var(--gradient-main);
            border-radius: var(--size-lg);
            padding: var(--size-lg) var(--size-sm);
            display: flex;
            flex-direction: column;
            position: relative;

            & .schedule__cell--time {
                border: none;
                font-size: var(--size-xl) !important;
            }

            & .schedule__cell {
                display: flex !important;
                justify-content: center;
                font-size: var(--size-md);
            }
        }
    }

    &__cell {
        padding: var(--size-xxxs);
        display: flex;
        align-items: center;
        position: relative;
        color: var(--color-bright);
        gap: var(--size-sm);
        font-weight: 700;
        text-align: center;

        @include lg {
            text-align: left; 
        }

        &--time {
            font-size: var(--size-md);

            * {
                font-size: var(--size-lg);
            }

            border-right: 1px solid var(--color-bright);

            & .navigation__nav-next {
                margin-left: auto;
            }

            & .navigation__nav-prev {
                margin-right: auto;
            }

            @include lg {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 100%;
                    right: -1px;
                    height: var(--size-lg);
                    width: 1px;
                    border-right: 1px solid var(--color-bright);
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    right: -1px;
                    height: var(--size-lg);
                    width: 1px;
                    border-right: 1px solid var(--color-bright);
                }
            }


        }

        &--description {
            font-size: var(--size-xs);
        }
    }

    &__card-headline {
        // color: var(--color-bright);
        font-weight: 900;
        font-size: var(--size-md);
        line-height: 1.2;
    }

    &__card-text {
        // color: var(--color-bright);
        font-size: var(--size-xs);
        line-height: 1.2;

        strong {
            font-weight: 700;
            // color: var(--color-bright);
        }
    }

    &__offer {
        position: relative;
        display: flex;
        flex-direction: column;

        align-items: center;
        padding: var(--size-sm);
        text-align: center;
        gap: var(--size-sm);


    }

    &__offer-text {
        font-weight: 700;
        color: var(--color-dark);
        font-size: var(--size-md);
    }

    &__slider {
        .schedule__card-headline {
            margin-bottom: var(--size-sm);
        }
    }
}