.schedule {
    height: 100vh;
    position: relative;
    // background: var(--color-main);
    overflow: hidden;
    padding: var(--size-lg);
    position: relative;
    z-index: 2;

    &__content {
        position: relative;
        height: 100%;
        width: 100%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // background-image: linear-gradient(90deg, transparent 79%, rgba(var(--color-bright-rgb), 0.1) 79%), linear-gradient(90deg, transparent 64%, rgba(var(--color-bright-rgb), 0.1) 64%), linear-gradient(45deg, transparent 45%, rgba(var(--color-bright-rgb), 0.1) 45.5%);
            background-size: 100% 100%;
            pointer-events: none;
            z-index: 0;
        }
    }

    &__item {
    }

    &__dot {
        position: absolute;
        left: 0;
        top: 50%;
        width: var(--size-xxxs);
        height: var(--size-xxxs);
        background-color: var(--color-bright);
        border-radius: 50%;
        box-shadow: 0 0 0 4px rgba(var(--color-bright-rgb), 0.2);
    }

    &__text {
        font-size: var(--size-xs);
        color: var(--color-text);
        line-height: 1.6;
        font-weight: 300;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        gap: var(--size-sm);

        @include md {
             flex-direction: row;
        }
    }

    &__card {
        background: url(./images/background.png) center/cover no-repeat;
        border-radius: var(--size-sm);
        padding: var(--size-sm);
        flex-basis: 50%;
    }

    &__card-headline {
        color: var(--color-bright);
    }

    &__card-text {
        color: var(--color-bright);
    }

    &__offer {
        position: relative;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        padding: var(--size-sm);
        text-align: center;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            // width: 100%;
            // height: 100%;
            background: url(./images/background.png) center/cover no-repeat;
            filter: blur(100px); /* Само размытие */
            z-index: -1; /* Отправляем псевдоэлемент на задний план */

            /* Увеличиваем область, чтобы убрать прозрачные края */
            /* Можно подобрать значение под ваш случай */
            transform: scale(1.05);
        }
    }

    &__offer-text {
        font-weight: 600;
        color: var(--color-bright);
        font-size: var(--size-md);
    }

    // Адаптивность
    @media (max-width: 1200px) {
        padding: var(--size-md);

        // &__dot {
        //     left: var(--size-sm);
        // }
    }

    @media (max-width: 768px) {
        height: auto;
        // min-height: 100vh;
        padding: var(--size-sm);

        &__content::before {
            display: none;
        }

        &__item {
            position: relative;
            top: auto !important;
            left: auto !important;
            max-width: 100%;
            margin-bottom: var(--size-sm);
            margin-right: 5vw;

            &:nth-child(1) {
                margin-left: 5vw;
            }

            &:nth-child(2) {
                margin-left: 8vw;
            }

            &:nth-child(3) {
                margin-left: 20vw;
            }

            &:nth-child(4) {
                margin-left: 4vw;
            }

            &:nth-child(5) {
                margin-left: 5vw;
            }

            &:nth-child(6) {
                margin-left: 0;
            }
        }

        &__dot {
            top: calc(var(--size-sm) + 2px);
        }
    }

    @media (max-width: 480px) {
        padding: var(--size-xs);

        &__item {
            padding: var(--size-xs);
            padding-left: calc(var(--size-xs) + var(--size-sm));
            margin-bottom: var(--size-xs);

            &:nth-child(1) {
                margin-left: 5vw;
            }

            &:nth-child(2) {
                margin-left: 8vw;
            }

            &:nth-child(3) {
                margin-left: 20vw;
            }

            &:nth-child(4) {
                margin-left: 4vw;
            }

            &:nth-child(5) {
                margin-left: 5vw;
            }

            &:nth-child(6) {
                margin-left: 0;
            }
        }

        &__dot {
            left: var(--size-xs);
            top: calc(var(--size-xs) + 2px);
        }
    }
}
