.speakers {
    padding: var(--size-sm);

    &__headline {
        margin-bottom: var(--size-sm);
    }

    &__content {
        padding-block: var(--size-sm);
    }

    &__slider {
        overflow: visible !important;
    }

    &__slide {
        height: 40vh !important;
        border-radius: var(--size-md);
        padding: var(--size-xxxs);
        border: calc(var(--size-xxxs) * 0.5) solid var(--color-bright);
        text-align: center;
        display: flex !important;
        flex-direction: column;
        position: relative;
        transition: all 0.3s ease-in-out;
        background: url(./images/background.png) center/cover no-repeat;

        &--active {
            background-color: white !important;
            color: var(--color-main);

            .speakers__name {
                display: none;
            }

            .speakers__image-block {
                visibility: hidden;
            }

            .social-link {
                color: var(--color-main);
                text-decoration: none;
                font-size: var(--size-sm);
                font-weight: 700;
                display: block;
                margin: 5px 0;
                transition: opacity 0.3s ease-in-out;

                &:hover {
                    opacity: 0.7;
                }
            }

            .speakers__link {
                color: var(--color-main);
            }
        }

       
    }

    &__image-block {
        height: 60%;
        border-radius: var(--size-xs);
        background-color: var(--color-bright);
        // margin-bottom: auto;
        overflow: hidden;
    }

    &__image {
        height: 100%;
  
        object-fit: contain;
    }

    &__name {
        font-size: var(--size-md);
        font-weight: 700;
        color: var(--color-bright);
        margin-top: auto;
        margin-bottom: auto;
    }

    &__link {
        align-items: end;
        font-family: Second;
        font-size: var(--size-xxxs);
        margin-top: auto;
        transition: all 0.3s ease-in-out;

        &:hover {
            opacity: 0.7;
        }
    }

    &__social-links {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
    }
}