.speakers {
    //  height: 100vh;
    position: relative;
    padding-bottom: var(--size-xxl);
    align-items: center;
    overflow: hidden;

    @include xl {
        height: 100vh;
    }

    &__circle {
        position: absolute;
        //  inset-inline: 5vw;

        //  right: -50%;
        min-width: 500px;
        width: 140vw;
        top: 0;
        z-index: 0;
        filter: contrast(50%);
        transform: rotate(180deg);

        @include md {
            min-width: 1800px;
            width: 90vw;
        }
    }

    &__content {
        @include xl {
            height: 100vh;
        }
    }

    &__wrapper {
        width: 100%;
        background: var(--color-second);
        min-height: 70%;
        margin-inline: auto;
        padding: var(--size-sm);
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        z-index: 2;
        justify-content: center;

        &::after {
            content: "";
            position: absolute;
            width: var(--size-sm);
            height: var(--size-sm);
            left: calc(var(--size-sm) / 2 * -1);
            bottom: calc(var(--size-sm) / 2 * -1);
            border-left: 1px solid var(--color-second);
            border-bottom: 1px solid var(--color-second);
        }

        &::before {
            content: "";
            position: absolute;
            width: var(--size-sm);
            height: var(--size-sm);
            right: calc(var(--size-sm) / 2 * -1);
            bottom: calc(var(--size-sm) / 2 * -1);
            border-right: 1px solid var(--color-second);
            border-bottom: 1px solid var(--color-second);
        }

        @include sm {
            width: 60vw;
        }
    }

    &__name {
        font-size: 3vw;
        color: var(--color-dark);
        font-family: Second;
        line-height: 1.1;
    }

    &__description {
        font-size: var(--size-sm);
        color: var(--color-dark);
        line-height: 1.4;
        text-align: center;
    }

    &__image {
        height: calc((1vh + 1vw) * 15);
    }
}
